<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<select id ="getData2" resultType="MemberDto">
	  SELECT CUST_ID, CUST_PW, CUST_TYPE
      FROM ACCOUNT_DATA
      WHERE CUST_ID=#{CUST_ID}
	</select>
	
<select id="loginCheck" resultType="String">
		<![CDATA[
			SELECT count(*) FROM ACCOUNT_DATA
			WHERE CUST_ID = #{CUST_ID} AND CUST_PW = #{CUST_PW}
		]]>
	</select>
	
</mapper>