<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store">

	<sql id="searchCondition">
  	 <if test="ST_NAME != null">
   		WHERE ST_NAME LIKE '%'||#{ST_NAME}||'%'
	 </if>
	</sql>

	<select id="storeList" parameterType="PlanDto" resultType="PlanDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT ST_CODE,ST_NAME,ST_ADDRESSBASIC,ST_ADDRESSDETAIL,
				ST_ADDRESSEXTRA,ST_PHNO,ST_STARTTIME,ST_ENDTIME,ST_CONTENT,ST_AVGSCORE
				FROM ST_DATA
				<include refid="searchCondition"/>
				ORDER BY ST_CODE DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="storeList2" parameterType="PlanDto" resultType="map">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT ST_CODE,ST_NAME,ST_ADDRESSBASIC,ST_ADDRESSDETAIL,
				ST_ADDRESSEXTRA,ST_PHNO,ST_STARTTIME,ST_ENDTIME,ST_CONTENT,ST_AVGSCORE
				FROM ST_DATA
				<include refid="searchCondition"/>
				ORDER BY ST_CODE DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getCount" parameterType="PlanDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM ST_DATA
		<include refid="searchCondition"/>
	</select>	
	
</mapper>