<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.storeMapper">
	<select id="storeList" parameterType="String" resultType="storeDTO">
		select * from ST_DATA where ST_MANAGER = #{ST_MANAGER}
	</select>
	
	<select id="storeInfo" resultType="storeDTO">
		select * from ST_DATA where ST_CODE = #{ST_CODE}
	</select>
	
	<insert id="storeRegister" parameterType="storeDTO">
		<selectKey keyProperty="ST_CODE" resultType="int" order="BEFORE">
			select STORE_SEQ.NEXTVAL from DUAL		
		</selectKey>
		insert into ST_DATA values(#{ST_CODE}, #{ST_MANAGER}, #{ST_NAME}, #{ST_ADDRESSNO}, 
		#{ST_ADDRESSBASIC}, #{ST_ADDRESSDETAIL}, #{ST_ADDRESSEXTRA}, #{ST_PHNO}, #{ST_STARTTIME}, #{ST_ENDTIME}, 
		#{ST_CONTENT}, 0)
	</insert>
	
	<delete id="storeDelete" parameterType="int">
		delete from ST_DATA where ST_CODE = #{ST_CODE}
	</delete>
	
	<update id="storeModify" parameterType="storeDTO">
		update ST_DATA set ST_NAME = #{ST_NAME}, ST_ADDRESSNO = #{ST_ADDRESSNO}, 
		ST_ADDRESSBASIC = #{ST_ADDRESSBASIC}, ST_ADDRESSDETAIL = #{ST_ADDRESSDETAIL}, ST_ADDRESSEXTRA = #{ST_ADDRESSEXTRA},
		ST_PHNO = #{ST_PHNO}, ST_STARTTIME = #{ST_STARTTIME}, ST_ENDTIME = #{ST_ENDTIME}, ST_CONTENT = #{ST_CONTENT} where ST_CODE = #{ST_CODE} 
	</update>
	
	<select id="storeCount" parameterType="String" resultType="int">
		select count(ST_CODE) from ST_DATA where ST_MANAGER = #{ST_MANAGER}
	</select>
	
	<!-- <sql id="searchCondition">
	 <choose>
	 	  <when test="ST_NAME != null">
            WHERE ST_NAME LIKE '%'||#{ST_NAME}||'%'
          </when>
          <when test="ST_ADDRESSDETAIL != null">
            WHERE ST_ADDRESSDETAIL LIKE '%'||#{ST_ADDRESSDETAIL}||'%'
         </when>
	 </choose>
	</sql> -->

	<!-- <select id="storeList1" parameterType="PlanDto" resultType="PlanDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT ST_CODE,ST_NAME,ST_ADDRESSBASIC,ST_ADDRESSDETAIL,
				ST_ADDRESSEXTRA,ST_PHNO,ST_STARTTIME,ST_ENDTIME,ST_CONTENT,ST_AVGSCORE
				FROM ST_DATA
				<include refid="searchCondition"/>
				ORDER BY ST_CODE DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select> -->
	
	<select id="storeList2" parameterType="PlanDto" resultType="PlanDto">
				SELECT ST_CODE,ST_NAME,ST_STARTTIME,ST_ENDTIME,ST_CONTENT,ST_AVGSCORE
				FROM ST_DATA
				ORDER BY ST_AVGSCORE DESC
	</select>
	
	<!-- <select id="getCount" parameterType="PlanDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM ST_DATA
		<include refid="searchCondition"/>
	</select>	 -->
	
	<select id="detailList" parameterType="PlanDto" resultType="hashmap">
				SELECT S.ST_CODE,S.ST_NAME,S.ST_ADDRESSNO,S.ST_ADDRESSBASIC,S.ST_ADDRESSDETAIL,
				S.ST_ADDRESSEXTRA,ST_PHNO,S.ST_STARTTIME,S.ST_ENDTIME,S.ST_CONTENT,S.ST_AVGSCORE,
				M.ST_CODE,M.MENU_NAME, M.MENU_PRICE, M.MENU_CONTENT
				FROM ST_DATA S, MENU_DATA M
				WHERE S.ST_CODE=M.ST_CODE
	</select>
	
</mapper>