<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store">

	<sql id="searchCondition">
	 <choose>
	 	  <when test="ST_NAME != null">
            WHERE ST_NAME LIKE '%'||#{ST_NAME}||'%'
          </when>
          <when test="ST_ADDRESSDETAIL != null">
            WHERE ST_ADDRESSDETAIL LIKE '%'||#{ST_ADDRESSDETAIL}||'%'
         </when>
	 </choose>
	</sql>

	<select id="storeList" parameterType="PlanDto" resultType="PlanDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT ST_CODE,ST_NAME,ST_ADDRESSBASIC,ST_ADDRESSDETAIL,
				ST_ADDRESSEXTRA,ST_PHNO,ST_STARTTIME,ST_ENDTIME,ST_CONTENT,ST_AVGSCORE
				FROM ST_DATA
				<include refid="searchCondition"/>
				ORDER BY ST_CODE DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="storeList2" parameterType="PlanDto" resultType="PlanDto">
				SELECT ST_CODE,ST_NAME,ST_STARTTIME,ST_ENDTIME,ST_CONTENT,ST_AVGSCORE
				FROM ST_DATA
				ORDER BY ST_AVGSCORE DESC
	</select>
	
	<select id="getCount" parameterType="PlanDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM ST_DATA
		<include refid="searchCondition"/>
	</select>	
	
	<select id="detailList" parameterType="PlanDto" resultType="hashmap">
				SELECT S.ST_CODE,S.ST_NAME,S.ST_ADDRESSNO,S.ST_ADDRESSBASIC,S.ST_ADDRESSDETAIL,
				S.ST_ADDRESSEXTRA,ST_PHNO,S.ST_STARTTIME,S.ST_ENDTIME,S.ST_CONTENT,S.ST_AVGSCORE,
				M.ST_CODE,M.MENU_NAME, M.MENU_PRICE, M.MENU_CONTENT
				FROM ST_DATA S LEFT OUTER JOIN MENU_DATA M
				ON S.ST_CODE=M.ST_CODE
				WHERE S.ST_CODE=M.ST_CODE
	</select>
</mapper>