@charset "UTF-8";

.gaiptop{
		width: 450px;
		margin: 0 auto;
		position: relative;
		margin-top: 70px;
	}
	.gaiptop > p {font-size: 35px; font-weight: bold;}
	hr{
		border: none;
	}
	hr.line1{
		background-color: #A6A6A6;
		height: 1px;
	}
	hr.line2{
		background-color: #7ACCB9;
		height: 2px;
		width: 32%;
		margin-top: -10px;
		margin-left: 0px;
		position: absolute;
		bottom: -20px;
	}
	.normal{
		font-weight: bold;
	}
	.gaipsection{
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
	}
	.gaipmiddle{
		width: 420px;
		height: 1240px;
		margin: 0 auto;
	}
	.inputbox{
		width: 480px;
		height: 45px;
		position: relative;
	}
	#idbox{
		position: relative;
	}
	.idboxposition{
		position: relative;
	}
	.inputbox input[name='CUST_ID'] {
		width: 420px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
		border: 1px solid #A6A6A6;
	}
	#idbox div input[name="id2"]{
		position: absolute;
		right:15px;
		top: 8px;
		font-size: 11pt;
		border: none;
		background-color: #C6F1E7;
		border-radius: 4px;
		width: 91px;
		height: 33px;
		box-shadow: 0 0 5px rgba(0,0,0,0.15);
		cursor: pointer;
	}
	#idbox div input[name="id2"]:hover{
		background-color: #079685;
		color: white;
	}
	.pwbox{
		width: 420px;
		height: 45px;
		margin-top: 13px;
	}
	.pwbox1{
		width: 420px;
		height: 45px;
		margin-top: 14px;
	}
	.namebox{
		width: 420px;
		height: 45px;
		margin-top: 13px;
	}
	.nickbox{
		width: 420px;
		height: 45px;
		margin-top: 17px;
	}
	.birthbox{
		width: 420px;
		height: 45px;
		margin-top: 17px;
	}
	.yakuanbox{
		width: 403px;
		height: 238px;
		margin-top: 17px;
		border: 1px solid #A6A6A6;
	}
	.adrtul{
		width: 403px;
		height: 175px;
		margin-top: 17px;
	}
	.servicetitle{
		color: #5D5D5D;
		margin-top: 10px;
		margin-left: 8px;
	}
	.service{
		width: 390px;
		height: 40px;
		border: 1px solid #A6A6A6;
		margin-left: 5px;
		margin-top: 5px;
		position: relative;
	}
	.service label{width: 390px; height: 37px; display: flex; justify-content: center; align-items: center; cursor: pointer;}
	label[for="type2"] {margin-left: 10px; }
	.detailservice ul{ list-style-type: none; margin: 0 0 0 5px; padding: 0;}
	.detailservice ul li{ margin: 3px 0; }
	.gendertitle{
		color: #5D5D5D;
		margin-top: 10px;
	}
	.genderbox{
		display: inline-flex;
		overflow: hidden;
		box-shadow: 0 0 5px rgba(0,0,0,0.25);
		margin-top: 5px;
	}
	.gender_input{
		display: none;
	}
	.gender_label{
		padding: 8px 14px;
		font-size: 14px;
		color: black;
		cursor: pointer;
		transition: background 0.1s;
	}
	.gender_label:first-of-type {
		border-right: 1px solid #C6F1E7;
	}
	.gender_input:checked + .gender_label {
		background: #C6F1E7;
	}
	.phbox{
		width: 420px;
		height: 45px;
		margin-top: 17px;
	}
	.emailbox{
		width: 420px;
		height: 45px;
		margin-top: 17px;
		display: flex;
	}
	.emailinputbox{
		width: 219px;
		height: 45px;
		position: relative;
	}
	.adrtitle{
		color: #5D5D5D;
		margin-top: 10px;
	}
	.susintitle{
		color: #5D5D5D;
		margin-top: 20px;
	}
	.adrbox{
		width: 420px;
		height: 143px;
		margin-top: 5px;
	}
	.adrbox input[type="button"]{
		font-size: 10pt;
		border: none;
		background-color: #C6F1E7;
		border-radius: 4px;
		width: 118px;
		height: 41px;
		box-shadow: 0 0 5px rgba(0,0,0,0.15);
		cursor: pointer;
	}
	.adrbox input[type="button"]:hover{
		background-color: #079685;
		color: white;
	}
	.susinbox{
		width: 420px;
		height: 30px;
		margin-top: 10px;
		display: inline-flex;
		position: relative;
	}
	.chboxtul{
		width: 90px;
		height: 20px;
		display: inline-flex;
	}
	input[id="susin"]{
		position: absolute;
		left: -1000%;
	}
	input[id="susin2"]{
		position: absolute;
		left: -1000%;
	}
	
	#golbang{
		font-size: 24px;
		margin-top: 8px;
		margin-right: 2px;
		margin-left: -8px;
	}
	.inputbox input[name='CUST_PW'] {
		width: 420px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
	}
	.inputbox input[name='CUST_PW2'] {
		width: 420px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
	}
	.inputbox input[name='CUST_NAME'] {
		width: 420px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
	}
	.inputbox input[name='CUST_PHNO'] {
		width: 420px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
	}
	.emailinputbox input[name='CUST_EMAIL'] {
		width: 200px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
	}
	select[name='CUST_EMAIL2'] {
		width: 200px;
		height:49px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
	}
	#sample6_postcode{
		width: 210px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
	}
	#sample6_address {
		width: 420px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
		margin-top: 5px;
	}
	#sample6_detailAddress, #sample6_extraAddress{
		width: 208px;
		padding: 13px 15px;
		font-size: 11pt;
		outline: transparent;
		margin-top: 5px;
	}
	.changedetailid{
		position: absolute;
		top: 15px;
		left: 11px;
		color: #5f6368;
		width: 90px;
		padding: 0 5px;
		font-size: 11pt;
	}
	.changedetailpw{
		position: absolute;
		top: 15px;
		left: 11px;
		color: #5f6368;
		width: 108px;
		padding: 0 5px;
		font-size: 11pt;
	}
	.changedetailpw2{
		position: absolute;
		top: 15px;
		left: 11px;
		color: #5f6368;
		width: 108px;
		padding: 0 5px;
		font-size: 11pt;
	}
	.changedetailname{
		position: absolute;
		top: 15px;
		left: 11px;
		color: #5f6368;
		width: 75px;
		padding: 0 5px;
		font-size: 11pt;
	}
	.changedetailph{
		position: absolute;
		top: 15px;
		left: 11px;
		color: #5f6368;
		width: 104px;
		padding: 0 5px;
		font-size: 11pt;
	}
	.changeemaildetail{
		position: absolute;
		top: 15px;
		left: 11px;
		color: #5f6368;
		width: 89px;
		padding: 0 5px;
		font-size: 11pt;
	}
	.iddetail{
		color: #EE378A;
		font-size: 12px;
		margin: 9px 12px 2px 12px;
	}
	.pwdetail{
		color: #e52528;
		font-size: 12px;
		margin: 9px 12px 0 12px;
	}
	.pwdetail2{
		color: #e52528;
		font-size: 12px;
		margin: 9px 12px 0 12px;
	}
	.phdetail{
		color: #8C8C8C;
		font-size: 12px;
		margin: 9px 12px 0 7px;
	}
	.emaildetail{
		color: #e52528;
		font-size: 12px;
		margin: 9px 12px 0 7px;
		display: none;
	}
	.btn1{
		color: black;
		font-size: 18px;
		outline: none;
		border: none; background-color: #23C6A9; width: 402px; height: 46px; cursor: pointer;
	}
	.gaipbtn{ width: 403px; height: 50px; border: 1px solid #23C6A9; margin: 0 auto; margin-top: 20px; display: flex; justify-content: center; align-items: center; background-color: #23C6A9;}
	.gaipbtn:hover{ transition: .5s; background-color: #079685;}
	.gaipbtn:hover > .btn1{color:#fff; transition: .5s; background-color: #079685;}
	.btn2{
		background-color: #D5D5D5;
		margin-top: 10px;
		border-radius: 4px;
		font-size: 18px;
	}
	.textbox{
		border-radius: 4px;
		border: 1px solid #A6A6A6;
	}